.sidebar_sidebar {
  background-color: var(--tertiary);
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  align-items: center;
  margin-right: 15px;
}

.btn-secondary{
  background: #222222 !important;
  border: none !important;
}

.sidebar_menu-bars {
  font-size: 2rem;
  background: none;
  color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
}

.sidebar_nav-menu {
  background-color: var(--tertiary);
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 350ms;
  z-index: 10;
}

.sidebar_nav-menu.active {
  left: 0;
  transition: 350ms;
}

.sidebar_submenu a{ 
  font-weight: 100;
  padding-left: 30px;
}

.MuiButtonBase-root a:hover{
  color: white !important;
  background: #333333 !important;
}

.MuiButtonBase-root span{
  font-weight: 100 !important;
  font-size: 15.3px !important;
}

.MuiButtonBase-root{
  padding-left: 0px !important;
  font-weight: 100 !important;
}

.sidebar_data--items a{
  font-weight: 100;
}

.sidebar_ulConfig{
  padding-bottom: 0% !important;
}

.sidebar_data--items a:hover {
  color: white;
  background-color: #393939 !important;
}

.sidebar_data--items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 40px;
  background-color: #333333 !important;
  padding-right: 0% !important;
}

.sidebar_nav-menu--items {
  width: 100%;
  padding-left: 0px;
  background-color: #333333;
}

.sidebar_sidebar-toggle {
  background-color: var(--tertiary);
  width: 100%;
  height: 80px;
}

.sidebar_data--items a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar_data--items a:hover {
  background-color: var(--hoverTertiary);
}

.sidebar_sidebar--title {
  color: white;
  font-size: 1.2em;
  list-style: none;
  margin-bottom: 10px;
  padding: 0 10px;
  height: 60px;
  display: flex;
  background-color:#222222;
  align-items: center;
}

.sidebar_data--items span {
  padding-left: 10px;
}

.sidebar_session-close {
  border: none;
}

.sidebar_cerrar_seccion{
  justify-content: center;
  display: flex;
}

/*** Headersidebar ***/

.sidebar_header {
  background-color: var(--tertiary);
  height: 60px;
  width: 100vw;
}

.imagen-sidebar{
  width: 12%;
  padding-right: 5px;
  margin-right: 5px;
}

/*** Submenu ABM ***/

.sidebar_ulConfig {
  max-height: 240px !important;
}

.sidebar_ulConfig::-webkit-scrollbar {
  /* -webkit-appearance: none; */
  display: none;
}

.sidebar_submenu {
  background: var(--tertiary);
  color: white;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.sidebar_collapses {
  width: 100%;
  padding: 4px 0px 4px 4px !important;
  background-color: #333333 !important;
}

.sidebar_collapses:hover {
  background-color: #393939 !important;
}

.sidebar_container-icon {
  min-width: 30px !important;
  padding-left: 6px !important;
}

.sidebar_data-user a:hover {
  color: white;
}

.sidebar_data-user a {
  text-decoration: none;
  color: #9d9d9d;
  font-size: 16px;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
  margin-right: 15px;
}

.sidebar_data-user{
  list-style: none;
}

.sidebar_data-user span{
  padding-left: 7px;
}

@media only screen and (max-width: 768px) {
  .sidebar_nav-menu {
    width: 220px;
    transition: 350ms;
  }
  .sidebar_header {
    padding-left: 0;
  }

  .sidebar_sidebar--title {
    background-color: #222221;
    padding: 0 0 0 9px;
  }

  .imagen-sidebar {
    width: 17%;
    padding-right: 5px;
    margin-right: 5px;
}
}

@media only screen and (min-width: 768px) {
  .sidebar_header {
    padding-left: 300px;
  }

  .sidebar_sidebar{
    justify-content: flex-end;
  }
}
