@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url(./fonts/Gilroy-Light.otf) format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  background: #ececec url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtAgMAAABHdAoJAAAADFBMVEUAAADs6uzs7uzk5uRUmOYTAAAAAXRSTlMAQObYZgAAAfZJREFUKJENUc9Oo0Ac/j3avMRvyLSBngZCm+oJCDV0eYmBUEM9FWKNu6dps91geAkg1Kin0lSjnqjpGt3l+B2+/zAZKZVbNDzwSgIK1uK8DEUw+/Dh3w61c2dq02CYw+3V2LX5cn8XFAT6OmexmEd8wAm0J4Ye8r79SxAYcq2mclJuF5oPq6NI/gyMcKbrBIzHePYzHqnrIO04yqupFo5s3cCHixiNqngZbdtOoLAO30l9avkHEhBYu9ciwtp+I8AON5aeXRp4VfjQZ/Pga+/yJ9YSWKWJFdO57PHPHF6G5Ss+7dUyEj6og20Vm7pkaeRDO23mkxpvxHuXemwFC/eSu15m+iAmSruR+HqNJx+Wz+jsMN3wqPYhqKJNWV15w9Peh3eqXxTrjLH+jECkW+1xrePcDQnMxAOuT+FQaR4ITLWEuxV3HKfzca3Q+oi+jk2hELC72l+o2CYeCaTbnnnmHTTxZuag7O+/R1lzJn72CCC7XzdmfRHHP3KgKz5EuUT74TeBYOXu7m+W4cLqgNRmrH1Ja8OSOVge5bZqZOM37FIvirDaNOeYHXIYM5yyqZoove4F2q8c91PLbNr5GHL+7Ine2AytHLC+i2VT3dE06bZetRF/VI/fqPhgIRelpFEkadeU/lV2MWdrnuQQ3VIHVT5ALsl/3UQ2xHNcShUAAAAASUVORK5CYII=);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
